---
import Badge from "./Badge.astro";

interface Props {
  time: string;
  position: string;
  company: string;
  companyPage: string;
  description: string;
  skills: string[];
}

const { time, position, company, companyPage, description, skills } =
  Astro.props;
---

<li class="card">
  <div class="timeline">
    <div class="circle"></div>
    <div class="line"></div>
  </div>
  <div class="content">
    <span class="time">{time}</span>
    <h3>
      {position} - <a href={companyPage} target="_blank">{company}</a>
    </h3>
    <p>{description}</p>
    <div class="skills">
      {skills.map((skill) => <Badge name={skill} />)}
    </div>
  </div>
</li>

<style>
  .card {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .card:hover .timeline,
  .card:hover .time {
    color: #3498db;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
  }

  .time {
    transition: color 0.2s;
  }

  .circle {
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    border-radius: 50%;
  }

  .line {
    border-left: 1px solid #fff;
    flex: 1;
  }

  .content {
    padding: 0 1rem 1rem 1rem;
  }
  h3 span {
    color: #fff;
  }
  a,
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
