---
import { Image } from "astro:assets";
import Badge from "./Badge.astro";

interface Props {
  image: any;
  imageAlt: string;
  title: string;
  description: string;
  techs: string[];
  projectLink: string;
}

const { image, description, imageAlt, projectLink, techs, title } = Astro.props;
---

<li>
  <a href={projectLink} target="_blank">
    <Image src={image} alt="Project image" />
    <div class="container">
      <h3>{title}</h3>
      <div class="techs">
        {techs.map((tech) => <Badge name={tech} />)}
      </div>
      <p>{description}</p>
    </div>
  </a>
</li>

<style>
  * {
    margin: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  li {
    overflow: hidden;
    list-style-type: none;
    border-radius: 0.75rem;
    transition: all 0.2s;
    background: rgba(52, 152, 219, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(52, 152, 219, 0.07);
  }

  li:hover {
    background: rgba(52, 152, 219, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(52, 152, 219, 0.11);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 14rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  .techs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
